include CHANGES
include CONTRIBUTORS
include CONTRIBUTING.rst
include CODE_OF_CONDUCT.rst
include requirements-dev.txt
include tox.ini
include LICENSE
include README.rst

include docs/conf.py
include docs/Makefile

include scripts/*

recursive-include bleach *.py *.json *.rst *.sh *.txt INSTALLER METADATA RECORD WHEEL
recursive-include docs *.rst
recursive-include tests *.py *.test
recursive-include tests_website *.html *.py *.rst
