-e .

black==24.4.2; implementation_name == 'cpython'
build==1.2.1
mypy==1.10.1; implementation_name =='cpython'
pytest==8.2.2
setuptools==70.3.0
tox==4.16.0
tox-gh-actions==3.2.0
twine==5.1.1
wheel==0.43.0

Sphinx==7.4.4
