-e .

# Requirements to run the test suite
pytest
pytest-wholenodeid
flake8
tox

# Requirements for building docs
Sphinx

# Requirements for updating package
twine

# Requirements for running setup.py bdist_wheel
wheel

# Requirements for updating the vendored html5lib
hashin

# Requirements for format-check most recently black==20.8b1
black; implementation_name == "cpython"

# Requirements for type-check most recently mypy==0.790 and mypy-extensions==0.4.3
mypy; implementation_name == "cpython"
